/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

/*
Breakpointy
Mobil   0 - 539px
Tablet  540px - 959px (čti jako 540px a víc)
PC      960px a víc
*/

.box {
	border: 1px solid lightseagreen;
	text-align: center;
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
}

.foto {
	border-radius: 50%;
}

.tym {
	text-align: center;
}

@media screen and (min-width: 540px) {
	.kontejner {
		display: flex;
		flex-wrap: wrap;
	}

	.box {
		flex: 1 1 calc(50% - 40px);
		margin: 10px;
		text-align: left;
		display: flex;
	}

	.foto {
		float: left;
		margin: 0 20px 20px 0;
		overflow: auto;
	}
}

@media screen and (min-width: 960px) {
		.box {
			flex: 1 1 calc(25% - 30px);
			margin: 10px;
			text-align: center;
			flex-direction: column;
		}

		.foto {
			float: none;
			margin: 0;
		}
	}

